body {
    font-family: Arial, sans-serif;
    margin: 40px; /* Added margin space on the sides */
}

iframe {
    display: none;
}

h1, h2 {
    color: #333;
    text-align: center; /* Centered the title */
}

p#min-duration-hint {
    display: flex;
    justify-content: center; /* This will center the switch and label inside the switch-container */
    align-items: center;
    margin-bottom: 20px;
}

.button-container {
    text-align: center; /* Center the container */
}

.button-container button {
    display: inline-block; /* Make the button inline-block to place side by side */
    margin: 10px; /* Add margin to the right and left for spacing */
    padding: 5px 15px; /* Reduce padding for a smaller button */
    font-size: 14px; /* Reduce font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    background-color: #4CAF50; /* Add background color */
    color: white; /* Change text color to white */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

/* The switch-container for positioning the toggle and label */
.switch-container {
    display: flex;
    justify-content: left; /* This will center the switch and label inside the switch-container */
    align-items: center;
    padding-inline: 480px;
    margin-bottom: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px; /* Width of the switch */
  height: 24px; /* Height of the switch */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

#toggleLabel {
  margin-left: 10px;
}
