body {
    font-family: Arial, sans-serif;
    margin: 40px; /* Added margin space on the sides */
}

h1 {
    color: #333;
    text-align: center; /* Centered the title */
}

table {
    margin-left: auto; /* Centered the table */
    margin-right: auto;
    font-size: 18px; /* Increased font size for better readability */
    border-collapse: separate; /* Use separate border spacing */
    border-spacing: 0 15px; /* Add space between rows */
}

button#exportCsv {
    display: block; /* Make the button a block to fit the content */
    margin: 20px auto; /* Center the button and add margin */
    padding: 10px 20px; /* Add padding for better appearance */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    background-color: #4CAF50; /* Add background color */
    color: white; /* Change text color to white */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 4px;
}
